services:
  docker-proxy:
    image: tecnativa/docker-socket-proxy
    container_name: docker-socket-proxy
    restart: unless-stopped
    privileged: true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - CONTAINERS=1
      - EXEC=1
      - POST=1

  code-interpreter-api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: librechat_code_interpreter_api
    ports:
      - "8000:8000"
    environment:
      - CUSTOM_RCE_API_KEY=your_secret_key
      - DOCKER_HOST=tcp://docker-proxy:2375
      - RCE_NETWORK_ENABLED=false
      - RCE_MEM_LIMIT=512m
      - RCE_CPU_LIMIT=500000000
      - RCE_GPU_ENABLED=false
    depends_on:
      - docker-proxy
    restart: unless-stopped
